
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Downloader</title>
	<!-- <link rel="stylesheet" href="stylesheets/style.css"> -->
    <!-- <link rel="stylesheet" href="stylesheets/contact.css"> -->
    <link rel="stylesheet" href="stylesheets/about.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/17bbe460ec.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body>
    <div class="small_bubble"></div>
    <div class="bubbles"></div>
    <div class="mini_bubble"></div>


    <!-- <div class="single_bubble"></div>
    <div class="semi_single_bubble"></div> -->
    <main>
       <div class="main_container">
           <h1>About Us</h1>
            <div class="container">
                <article>
                    <p><strong>Download Me APP</strong> is your ultimate choice as the best downloader which support 1000+ websites including YouTube, Facebook, Vine, Vimeo, Dailymotion, TikTok etc. Besides the function for videos and music downloading, such a useful downloader also provides the latest series, TV shows and movies in HD format, and free live television online watching.</p>
                    <p>Looking for the perfect download mate and best manager for your media files which helps you to find out and download any types of videos for offline playing? Here is the amazing Download Me video downloader as the right one for you!</p>
                </article>

                <article>
                    <h2>Features of Download Me APP</h2>
                    <h2>Unlimited free download</h2>
                    <p>Download all the things free online and take it away with you for offline enjoying. From Hollywood, Bollywood movies to short self-made blog videos, videos and movies all around the world are within easy reach. The free and unlimited download feature means that there’s no need to worry about the fee and you are able to avoid the situation from being unable to find the resources for your favorite videos</p>
                </article>


                <article>
                    <h2>Abundant pictures and videos sites supported</h2>
                    <p>As we mentioned above, Download Me APK free download offers you a chance to watch a variety of movies offline. In the meantime, we also provide an access to download from online Video-sharing platform like YouTube, Facebook, Dailymotion, WhatsApp, Instagram and TikTok. You can find out songs, pictures and videos directly and all in one Download Me online without switching out to others.</p>
                </article>


                <article>
                    <h2>In App subscribe</h2>
                    <p>The in-App-subscribe function is another surprise for you. To follow interesting people and to keep up with current events in the new Discover channel, we will let you know at the first minute the new status came out.</p>
                </article>


                <article>
                    <h2>Videos & Movies Download & Play</h2>
                    <p>One of the best parts of our App is that it offers free access to HD full movies. It collects and classifies all the movies from a variety of sites, including classic Bollywood movies and latest Hollywood movies, all of which are available for free download. The better blessing in movie section are the functions on each movie's page entitled "People who liked this also liked..." and “same actors”, which help to explore movies of the same or a similar genre. In this way, it saves a lot of time searching and choosing from online complicated movie lists. If you are not sure about whether the movie is what exactly your preference, click into the page and we provide brief introductions and trailers for more detail information. Specially, when any new movies get a touched base on the platform, it will advise and recommend to the individuals.</p>
                    <p> Experience Download Me latest version which provides you not only fast and smooth download experiences but also smoother watching experiences.
                    </p>
                </article>

                <article>
                    <h2>Music Download & Play</h2>
                    <p>For people who love listening to music, Download Me music not only save time from switching among different music apps, but also supports High quality (256kbps) mp3 format download for YouTube and several million albums and songs for free. The download speed is one of the best in its industry. With the high speed and countless resources, it is undoubtedly your best music player in your phone and you may even set any songs or sound you prefer as your phone ringtone.

                    </p>
                </article>

                <article>
                    <h2>Live TV programs and series</h2>
                    <p>Over 200 channels are available including Zee TV, Star World, Channel V and Sahara Online. Collecting a wide range of TV shows in different language, including comedies, realities and other genres, Download Meapp.com is undoubtedly a paradise for people who love watching TV shows. From comedies to documentaries, all the TV shows are updated frequently and smoothly. You may watch it online or offline at any time anywhere, like when you are waiting a bus at the bus stop or taking the train back home.</p>
                </article>
            </div>
            <small>Copyright &copy;2021 Company Download Me</small>
       </div>
    </main>

    <!-- <div class=" footer_small_bubble"></div>
    
    <div class=" footer_mini_bubble"></div> -->
    

    <div class=" footer_bubble"></div>

</body>
</html>