
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Downloader</title>
	<link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/contact.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/17bbe460ec.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body>
    <div class="small_bubble"></div>
    <div class="bubbles"></div>
    <div class="mini_bubble"></div>


    <!-- <div class="single_bubble"></div>
    <div class="semi_single_bubble"></div> -->
    <main>
       <div class="main_container">
           <h1>Contact</h1>
            <div class="container">
                <a class="item item1 flex justify_center align_center" href="/service">
                    <!-- <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_3qnu2ywg.json"  background="transparent"  speed="1"  style="width: 300px; height: 250px;"  loop  autoplay></lottie-player> -->
                   <img src="/images/joel_rajesh.jfif" alt="Joel Rajesh">
                    <!-- <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_tNwU15.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player> -->
                </a>

                <div class="item item2 flex justify_center">

                    <div class="whole_Links">
                        <div class="link flex align_center ">
                            <img src="https://image.flaticon.com/icons/png/512/1409/1409937.png" alt="">
                            <a href="https://twitter.com/JoelRajesh13">https://twitter.com/JoelRajesh13</a>
                        </div> <br>
                        <div class="link flex align_center ">
                            <img src="https://image.flaticon.com/icons/png/512/270/270798.png" alt="">
                            <a href="https://github.com/joelshejar">https://github.com/joelshejar</a>
                        </div>
                   </div>
                    
                </div>

                <a class="item item3 flex justify_center align_center" href="testimonial">
                    <!-- <img src="//images/youtube_logo-removebg-preview.png" alt=""> -->
                    <!-- <h2>Joel Rajesh</h2> -->
                    <img src="/images/narendra.jfif" alt="joel rajesh ">
                </a>
                <div class="item item4 flex justify_center" href="#">
                    <div class="whole_Links">
                        <div class="link flex align_center ">
                            <img src="https://image.flaticon.com/icons/png/512/1409/1409937.png" alt="">
                            <a href="https://twitter.com/narendrapalach1">https://twitter.com/narendrapalach1</a>
                        </div> <br>
                        <div class="link flex align_center ">
                            <img src="https://image.flaticon.com/icons/png/512/270/270798.png" alt="">
                            <a href="https://github.com/palacharlanarendra">https://github.com/palacharlanarendra</a>
                        </div>
                   </div>
                </div>
                <!-- <div class="item item5"></div> -->
                <a class="item item5 flex justify_center align_center" href="/portfolio">
                    <!-- <img src="assets//images/logo_youtube.png" alt=""> -->
                    <!-- <h2>Narasimhulu Vasam</h2> -->
                    <img src="/images/narasimhulu.jpg" alt="Narasimhulu Vasam">
                    <!-- <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_tNwU15.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player> -->
                </a>
                <div class="item item7 flex align_center justify_center ">
                   <div class="whole_Links">
                        <div class="link flex align_center ">
                            <img src="https://image.flaticon.com/icons/png/512/1409/1409937.png" alt="">
                            <a href="https://twitter.com/NarasimhuluV7">https://twitter.com/NarasimhuluV7</a>
                        </div> <br>
                        <div class="link flex align_center ">
                            <img src="https://image.flaticon.com/icons/png/512/270/270798.png" alt="">
                            <a href="https://github.com/Narasimhuluv">https://github.com/Narasimhuluv</a>
                        </div>
                   </div>
                     <!-- <lottie-player src="https://assets8.lottiefiles.com/private_files/lf30_lttvuxbp.json"  background="transparent"  speed="1"  style="width: 300px; height: 200px;"  loop  autoplay></lottie-player> -->
                </div>


                <a class="item item6 flex justify_center align_center" href="/about">
                    
                    
                    <div class="one_more">
                    <!-- <h2>Sohail Shaik</h2> -->
                    <img src="/images/sohail.jpeg" alt="sohail shaik">
                    <!-- <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_ihsy8p2a.json"  background="transparent"  speed="1"  style="width: 300px; height: 180px;"  loop  autoplay></lottie-player> -->
                    </div>
                </a>
                <div class="item item8 flex justify_center align_center" href="">
                    <div class="whole_Links">
                        <div class="link flex align_center ">
                            <img src="https://image.flaticon.com/icons/png/512/1409/1409937.png" alt="">
                            <a href="https://twitter.com/SohailS24733102">https://twitter.com/SohailS24733102</a>
                        </div> <br>
                        <div class="link flex align_center ">
                            <img src="https://image.flaticon.com/icons/png/512/270/270798.png" alt="">
                            <a href="https://github.com/sohailshaik8328">https://github.com/sohailshaik8328</a>
                        </div>
                   </div>
                    <!-- <lottie-player src="https://assets8.lottiefiles.com/private_files/lf30_lttvuxbp.json"  background="transparent"  speed="1"  style="width: 300px; height: 200px;"  loop  autoplay></lottie-player> -->
                </div>
            </div>
            <small>Copyright &copy;2021 Company Download Me</small>
       </div>
    </main>

    <!-- <div class=" footer_small_bubble"></div>
    <div class=" footer_bubble"></div>
    <div class=" footer_mini_bubble"></div> -->

    <div class=" footer_bubble"></div>

</body>
</html>